In [ ]:
import math

In [ ]:
import math as mt
r = mt.pi + 8**4
print (r)

4099.14159265359

In [ ]:
r= 1342- 1677*(9/7)-6 
result= abs (r)
print(r)

-820.1428571428573

In [ ]:
mt.factorial(9)

362880

In [ ]:
mt.log(7,10)

0.8450980400142567

In [ ]:
mt.e

2.718281828459045

In [ ]:
r=mt.e**0.555457
mt.e**0.555457
print(r)

1.7427372337331462

In [ ]:
y= mt.pi
print(y)

z=41
print(z)

from math import modf


x=(2+y) / (7+2*(z**2))
print(x)

3.141592653589793
41
0.001526148012344848

In [ ]:

x=[ 2,-6,27,-8,-9,-21,9,5,562, mt.pi]
print(x)

y=[ 8,9,-31,18,-5,-18, 9,-22,0,9]
print (y)

[2, -6, 27, -8, -9, -21, 9, 5, 562, 3.141592653589793]
[8, 9, -31, 18, -5, -18, 9, -22, 0, 9]

In [ ]:
import pandas as pd
import numpy as np
import statistics as st
st.mean(x)

56.41415926535898

In [ ]:
st.median(x)

2.5707963267948966

In [ ]:
st.variance(x)

31721.032883136468

In [ ]:
st.stdev(x)

178.10399457377835

In [ ]:
st.mean(y)

-2.3

In [ ]:
st.stdev(y)

16.234736421225527

In [ ]:
import matplotlib.pyplot as plt
x_simple = np.array([2, - 6, 27, - 8, - 9, - 21, 9, 5, 562, mt.pi])
y_simple = np.array([8, 9, - 31, 18, - 5, - 18, 9, - 22, 0, 9])

my_rho = np.corrcoef(x_simple, y_simple)
print(my_rho)

[[1.         0.02692977]
 [0.02692977 1.        ]]

In [ ]:
int_list = [2, - 6, 27, - 8, - 9, - 21, 9, 5, 562, mt.pi]
int_list.reverse()
print(int_list)

[3.141592653589793, 562, 5, 9, -21, -9, -8, 27, -6, 2]

In [ ]:
int_list = [8, 9, - 31, 18, - 5, - 18, 9, - 22, 0, 9]
int_list.reverse()
print(int_list)

[9, 0, -22, 9, -18, -5, 18, -31, 9, 8]

In [ ]:
import pandas as pd

df = pd.DataFrame()

# creamos las columnas

df['Sexo'] = None

df['Peso'] = None

df['Edad'] = None

df['Nivel.Educativo'] = None

# añadimos filas por su nombre de fila

df.loc[1] = ['H', 76, 25, 'Lic']

df.loc[2] = ['M', 67, 23, 'Bach']

df.loc[3] = ['H', 55, 19, 'Bach']

df.loc[4] = ['M', 57, 18, 'Bach']

df.loc[5] = ['H', 87, 57, 'Dr']

df.loc[6] = ['M', 48, 13, 'Msc']

print(df)

  Sexo Peso Edad Nivel.Educativo
1    H   76   25             Lic
2    M   67   23            Bach
3    H   55   19            Bach
4    M   57   18            Bach
5    H   87   57              Dr
6    M   48   13             Msc

In [ ]:
 #4. Escriba instrucciones en Python para sumar los numeros enteros elevados al cubo del 1 al 100

In [1]:
lista_cubo = 0
n=100

for valor in range(n + 1):
    suma = valor ** 3
    lista_cubo = lista_cubo + suma

print(lista_cubo)

25502500